#footer= 'Powered by '
  a(href=url_for('.'), rel='nofollow')= config.copyright + ' | '
  | 
  a(href=url_for('about'), rel='nofollow') 关于我们 
  | | 
  a(href=url_for('atom.xml'), rel='nofollow') RSS订阅